<% provide(:title, "Вхід") %>
<h1>Вхід</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :Логін %>
        <%= f.text_field :name%><br>

        <%= f.label :Пароль %>
        <%= f.password_field :password %><br>

        <%= f.submit "Ввійти", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Не зареєстровані ? <%= link_to "Зареєструватись", signup_path %></p>
  </div>
</div>