<% provide(:title, "Реєстрація") %>
   <h1> Реєстрація </h1>
<%= form_for (@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :"Ім'я" %>
    <%= f.text_field :name %>
    <%= f.label :Пароль%>
    <%= f.password_field :password %>
    <%= f.label :Підтвердження %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Створити користувача", class: "btn btn-large btn-primary" %>
<%end%>




